@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Inter';
}

.body{
    
    display: flex;
    flex-direction: row;
    position: fixed;
}

.side-parent{
    position: relative;
    width: 250px;
}

.side-parent .side-bar{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background-color: #1395ff;
    gap: 60px;
    padding: 16px 8px 0px 24px;
    position: fixed;
}

.page{
    
    width: calc(100vw - 250px);
    background-color: rgb(253, 253, 253);
    padding: 0px 24px 0px 24px;
    overflow-x: hidden;
}

.nav-parent{
    position: relative;
    height: 56px;
    width: 100%;
    

}

.nav-parent .nav-bar{
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 250px);
    justify-content: end;
    padding: 0px 24px 0px 0px;
    
    
}

.action-button-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 12px 0px;
    gap: 16px;
    justify-content: end;


}

.action-button-top > button {
    width: fit-content;
    padding: 8px 36px;
    background-color: #ebecec;
    color: #1b1b1b;
    border: 0px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

.top-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    gap: 60px;
    align-items: center;
    height: fit-content;
    align-items: center;
}

.logo-container{
    width: 100%;
    
    
}
.icon-menu{
    font-size: 24px;

}

.logo{
    font-size: 18px;
    color: #ffffff;
}

.side-bar .menu{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    gap: 16px;
}
.burger{
    color: #ffffff;
}
.side-bar .menu .btn{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    padding: 8px 8px;
    color: #1b1b1b;
    border: 0px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    background-color: #1395ff;
    text-wrap: nowrap;
    text-align:start ;
    align-content: start;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;

}
.side-bar .menu .btn .btn-icon{
    font-size: 18px;
    color: #ffffff;

}

.main{
    display: flex;
    flex-direction: column;
    padding: 24px 0px 0px 0px;
    height: calc(1024px - 56px);
    overflow-x: hidden;
    gap: 48px;
}

.top-dash{
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.Title-parent{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.hashtag{
    color: #1395ff;
    display: block;
}



.Title-parent:hover .hashtag{
    display: block;
    animation-duration: 0.3ms;
    animation-timing-function: ease-out;
}


.charts{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
}

.chart{
    flex: 1;
    height: 250px;
    border: 1.5px solid #c9c9c9;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.table-content{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    gap: 24px;
}

.title-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    padding: 8px 0px;
}

.title-box .title{
    font-size: 24px;
    font-weight: bolder;
    color: #1b1b1b;
}

.table-section{
    width: 100%;
    height: fit-content;

}

.table-users{
   border-collapse: collapse;
   width: 100%;
   background-color: #f8f8f8;
   border-radius: 8px;
   padding: 12px;
   align-items: center;
}


.table-users .head-table{
    border-bottom: 1px solid #000000 ;
}

.row-head{
    width: 100%;
    height: fit-content; 
    
}

.row-head .head-title{
    font-size: 16px;
    padding: 16px 0px;
    width: fit-content;
    text-align: start;
}

.cell{
    padding: 12px 0px;
    width: 20%;
    align-content: center;
}

.check{
    width: 100%;
}
.user-box{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    width: fit-content;
}

.avatar{
    border-radius: 100%;
    object-fit: cover;
    width: 32px;
    height: 32px;
}

.user-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-info .email{
    font-size: 14px;
    font-weight: 700;
    color: #1b1b1b;
}

.user-info .date{
    font-size: 12px;
    font-weight: 500;
    color: #8c959b;
}

.status{
    background-color: #0dca7220;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    gap: 4;
    color: #0dca72 ;
    padding: 8px 12px;
    border-radius: 16px;
    

}

.point{
    display: inline-block;
    background-color: #0dca72;
    width: 8px;
    height: 8px;
    border-radius: 100%;

}


.user-name{
    font-size: 14px;
    font-weight: 500;
    color: #1b1b1b;
}

.cancel{
    font-size: 16px;
    color: rgb(241, 53, 91);
}

